@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

::selection {
  background: theme("colors.crimsonHighlight");
}

@layer components {
  .settings-button {
    @apply bg-orange-300 border border-gray-500 px-1 hover:bg-orange-400 transition-colors;
  }
  .small-button {
    @apply bg-orange-300 border border-gray-500 px-1 hover:bg-orange-400 transition-colors text-sm;
  }

  .link {
    @apply text-blue-800 hover:text-blue-900 visited:text-purple-800 underline;
  }
}

.c-tooltip {
  /* Float on top of the UI */
  position: absolute;
  z-index: theme("zIndex.0");
  top: 0;
  left: 0;

  /* Avoid layout interference */
  width: max-content;
  padding-left: theme("spacing.1");
  padding-right: theme("spacing.1");

  opacity: 0;
  background-color: theme("colors.orange.300");
  color: black;
  border: 1px solid black;
  font-size: theme("fontSize.sm");

  transition: opacity 150ms ease-in-out;

  &[data-visible="true"] {
    opacity: 1;
  }
}

.c-tooltip-arrow {
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);

  width: 14px;
  height: 14px;

  background-color: theme("colors.orange.300");
}
